<!doctype html>
<html>
  <head>
    <title>Salty!</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/style.css">
  </head>
  <body>
    <h1>
      <a href="/">Salty!</a>
    </h1>

    {% block content %}
    {% endblock %}

    <p class="quote">
      {% block quote %}
      {% endblock %}
    </p>
  </body>
</html>
