<table class="table table-condensed">
  
  {% if surfboard_models %}
  
    <thead>
      <th>Model</th>
      <th>Description</th>
    </thead>
    
    {% for surfboard_model in surfboard_models %}
      <tr>
        {% include 'shared/surfboard_model.template' %}
      </tr>
    {% endfor %}

  {% else %}
    <tr>
      <td>
      No boards means no waves for {{ surfer.name }}!
      </td>
    </tr>
  {% endif %}

</table>